.com-coupon {
  display: flex;
  padding: 10px;
  box-sizing: border-box;
  background: #fff;
  border-radius: 5px;
  font-size: 14px;
  font-family: 'Microsoft YaHei', 'Arial', sans-serif;
  box-shadow: 0 0 5px 2px #eee;

  &.active{
    background: #fefefe;
  }

  &.layout_horizontal {
    width: 730px;
    height: 200px;
    .com-coupon-cover {
      width: 180px;
      height: 180px;
    }
    .com-coupon-content {
      margin-left: 10px;
      flex-grow: 1;
    }
  }

  &.layout_vertical {
    width: 200px;
    height: 350px;
    flex-direction: column;
    align-items: center;
    .com-coupon-cover {
      width: 180px;
      height: 180px;
    }
    .com-coupon-content {
      margin-top: 10px;
      flex-grow: 1;
    }
  }

  &-cover {
    flex-shrink: 0;
    border-radius: 5px;
    overflow: hidden;
    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
  &-content {
    position: relative;
  }
  &-title {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
  }
  &-category {
    &-item {
      font-size: 10px;
      background: #ff0000;
      color: #fff;
      margin-right: 5px;
      padding: 1px 2px;
      border-radius: 2px;
    }
  }
  &-text {
    font-weight: bold;
  }

  &-interest {
    color: #ff0000;
    margin-top: 10px;
  }

  &-tag {
    margin-top: 10px;
    &-item {
      border: 1px solid #999;
      font-size: 10px;
      margin-right: 5px;
      padding: 1px 2px;
      border-radius: 2px;
    }
  }

  &-buy {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;

    &-price {
      color: #ff0000;
      font-weight: bold;
    }

    &-button {
      color: #fff;
      background: #ff0000;
      padding: 5px 10px;
      border-radius: 5px;
      text-align: center;
    }
  }
}
